.footer {
  padding: 56px 32px 56px 33px;
  background-color: var(--clr--neutral-black);
}
.footer-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-icons {
  fill: white;
}
.footer-social-list {
  display: flex;
}
.social-list:not(:last-of-type) {
  margin-right: 13.3px;
}
.footer-navig {
  &__list-link {
    color: white;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.33;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}
.arrow-text-w {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 2px;
  color: white;
  text-align: center;
  margin-right: 22px;
}
.copyright {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.33;
  text-align: center;
  mix-blend-mode: normal;
  opacity: 0.5;
  color: white;
}
.flex-end {
  display: flex;
  flex-direction: column;
  align-items: center;
}
 
@media screen and (max-width: 767px) {
  .footer-box {
    padding-bottom: 119px;
  }
  .footer-navig {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__list:not(:last-of-type) {
      margin-bottom: 19px;
    }
  }
  .footer-social-list {
    margin-top: 32px;
    margin-bottom: 49px;
  }
  .copyright {
    margin-top: 34px;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 64px 40px;
    display: flex;
    justify-content: space-between;
  }
  .footer-box {
    display: grid;
    grid-template-rows: 52px 52px 52px;
    grid-template-areas:
      'logo '
      'list '
      'svg';
  }
  .box1 {
    grid-area: logo;
    align-self: flex-start;
  }
  .box2 {
    grid-area: svg;
    align-self: flex-end;
  }
  .box3 {
    grid-area: list;
    align-self: flex-start;
  }

  .footer-navig {
    display: flex;
    flex-direction: row;

    &__list {
      margin-right: 26px;
    }
  }
  .flex-end {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    padding: 64px 165px 64px 171px;
  }
  .footer-navig {
    flex-direction: column;
    margin: 0;
    &__list {
      margin: 0;
      &:not(:last-of-type) {
        padding-bottom: 19px;
      }
    }
  }
  .footer-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 109px;

    grid-template-areas:
      'logo list'
      'svg list';
  }
  .box1 {
    grid-area: logo;
  }
  .box2 {
    grid-area: svg;
    align-self: flex-end;
  }
  .box3 {
    grid-area: list;
  }
}
