:root {
  --clr--Main-orange: rgb(255, 197, 147);
  --clr--Main-pink: rgb(188, 113, 152);
  --clr--Main-blue: rgb(90, 119, 255);

  --clr--neutral-black: rgb(0, 0, 0);
  --clr--neutral-gray: rgb(223, 223, 223);
  --clr--neutral-white: rgb(255, 255, 255);

  --font-family: 'DM Sans', sans-serif;
}
