.home-img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.home-list__container {
  padding: 72px 24px 72px 33px;
  background-color: var(--clr--neutral-white);
}
@media screen and (min-width: 768px) {
  .home-img {
    min-width: 273px;
  }

  .home-list {
    &__item {
      display: flex;
    }
    &__item:nth-child(odd) {
      flex-direction: row-reverse;
    }
  }
}

.list__container {
  &-h {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.25;
    letter-spacing: 3.333333px;
    color: var(--clr--neutral-black);
    margin-bottom: 16px;
  }
  &-text {
    font-weight: 400;
    font-size: 15px;
    line-height: 1.67;
    color: var(--clr--neutral-black);
    opacity: 0.6;
    mix-blend-mode: normal;
    margin-bottom: 23px;
  }
  &-text2 {
    color: var(--clr--neutral-black);
    font-weight: 700;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 2px;
    margin-right: 16px;
  }
}
@media screen and (min-width: 768px) {
  .home-list__container {
    padding: 136px 54px 135px 54px;
  }
  .list__container {
    &-h {
      font-size: 40px;
      line-height: 1.2;
      letter-spacing: 4.16667px;
      margin-bottom: 21px;
    }
    &-text {
      margin-bottom: 48px;
    }
    &-text2 {
      margin-right: 26px;
    }
  }
  .home-first-block {
    padding: 173px 54px;
  }
}
.arrow-box {
  display: flex;
  max-height: 16px;
}
.white {
  color: var(--clr--neutral-white);
  background-color: var(--clr--neutral-black);
}
@media screen and (min-width: 1200px) {
  .home-img {
    min-width: 830px;
  }
  .home-first-block {
    padding: 173px 111px;
  }
  .home-list__container {
    padding: 136px 111px 135px 112px;
  }
}
