.stories {
  margin-bottom: 90px;
}
.stories-list {
  background-repeat: no-repeat;
  height: 375px;
  padding: 236px 32px 40px 33px;
  color: var(--clr--neutral-white);

  &__title {
    font-size: 18px;
    line-height: 1.39;
    margin-bottom: 4px;
  }
  &__author {
    position: relative;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.33;
    margin-bottom: 37px;
  }
  &__author::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -16px;
    left: 0;
    background-color: white;
    opacity: 0.25;
  }
  &__story {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 2px;
    margin-right: 177px;
  }
}
.first {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.0001) 0.27%,
      rgba(0, 0, 0, 0.661222) 100%
    ),
    url('/assets/stories/mobile/mountains.jpg');
  background-size: cover;
}
.second {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.0001) 0.27%,
      rgba(0, 0, 0, 0.661222) 100%
    ),
    url('/assets/stories/mobile/cityscapes.jpg');
  background-size: cover;
}
.third {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.0001) 0.27%,
      rgba(0, 0, 0, 0.661222) 100%
    ),
    url('/assets/stories/mobile/18-days-voyage.jpg');
  background-size: cover;
}
.fourth {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.0001) 0.27%,
      rgba(0, 0, 0, 0.661222) 100%
    ),
    url('/assets/stories/mobile/architecturals.jpg');
  background-size: cover;
}
